#banner {
    width: 100%;
    margin: auto;
    display: block;
}

h2 {
    font-size: 100px;
    text-align: center;
    height: 150px;
    border: 10px solid #000;
    padding-top: 50px;
    margin: 40px;
}

.missao {
    text-align: center;
    font-size: 30px;
    padding: 12px;
}
